*{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
header{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
                         url(interiordesign.jpg);
    background-size:cover;
    background-position: center;
}

nav{
    width:100%;
    height: 100px;
    background: rgb(154, 113, 78);
    color:rgb(51, 2, 51);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
     font-size:2em; 
     letter-spacing: 1px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
}
.menu a{
    text-decoration: none;
    color: rgb(84, 9, 84);
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid purple;
    transition: 0.6s linear;
}
.menu a:hover:before{
    width:90%;
}
.Signup a{
    text-decoration: none;
    color:beige;
    padding: 10px 20px;
    font-size: 20px;
    background: purple;
    border-radius: 8px;
    transition: 0.6s;
}
.Signup a:hover{
    background: transparent;
    border: 1px solid purple;
}
.catchline{
    max-width: 650px;
    position: absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.catchline span{
    letter-spacing: 2px;
    font-size: 1.8Sem;
    color: rgb(223, 199, 199);
    font-weight: 600;
}
.catchline h1{
    font-size: 2.5em;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.catchline a{
    text-decoration: none;
    background: rgb(74, 103, 132);
    color:black;
    font-style: oblique;
    font-weight: 600;
    padding:10px 30px;
    letter-spacing: 5px;
    transition: 0.6s;
}
.catchline a:hover{
    background: transparent;
    border: 1px solid purple;  
}
  article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position:relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }

  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 48px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  
* {
    box-sizing: border-box;
  }
  .title{
    font-size:60px;
    padding:20px 0px;
  }
  body {
    font-family: 'Lato', sans-serif;
    background-color:#eaeaea;
  }
  .container{
    width:1000px;
    margin:0px auto;
   
  }
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
    display: flex;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 700px) {
    
   .container{
    width: 100%;
    background-color: beige;
  }
    
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      display: flex;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
  }
  .card .profile{
     border-radius:10px;
     transition: 0.2s;
  }
  .card:hover .profile{
    transform:scale(1.4);
    border-top-right-radius:50px;
    border-top-left-radius:50px;
  }
  
  .card .content{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
  }
  .card .content .back{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #f1f1f1e6;
    transition:1s;
    
    z-index:1;
    padding:10px;
  }
  
  .from-left{
    top:0;
    left:-100%;
  }
  .card:hover .content .from-left {
     left:0%;
  }
  
  .from-bottom{
    top:100%;
    left:0;
  }
  .card:hover .content .from-bottom {
     top:0%;
  }
  
  .from-right{
    top:0%;
    right:-100%;
  }
  .card:hover .content .from-right {
     right:0;
  }
  
  .card .content .back h3{
    font-size:15px;
    letter-spacing:2px;
  }
  .card .content .back .tem-img{
    border-radius:100%;
  }
  
  .card .content .back .des{
    font-size:13px;
    padding:20px 0px;
  }
  .card .content .back .social-icon{
    list-style:none;
    margin:0px;
    padding:0px;
  }
  .card .content .back .social-icon li{
    display:inline-block;
  }
  
  .card .content .back .social-icon li a{
    display:block;
    background:#333;
    color:#fff;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:100%;
  }

 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer .heading {
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.7em;
  }
  .footer h4{
    font-size: 1.5em;

  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
    font-size:1em ;
    font-weight: bolder;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 800;
  }
  
  .footer .content a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.829);
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.829);
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 28px;
    font-weight:bolder;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
    color: black;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position:unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }
  